@using CzSoft.CwateMa.Model
<!--
    @Globals.AppMeta.FullName @($"{System.Reflection.Assembly.GetEntryAssembly().GetName().Version.ToString(2)}") Build @($"{System.Reflection.Assembly.GetEntryAssembly().GetName().Version.Revision:D4}")
    - Compiled at @Globals.AppMeta.CompileTime.ToSqlTimeString()
    This product licensed under MIT License.

    Copyright (c) 2020@(2020 < Globals.AppMeta.CompileTime.Year ? $"-{DateTime.Now.Year}" : "") Czompi Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @* <title>Loading... - @Globals.Config.ShortName</title> *@

    @* Stylesheets *@
    @foreach (var (name, version, file_name, url) in Globals.Config.Themes)
    {
        if (!string.IsNullOrEmpty(url))
        {
            if (!url.StartsWith("//") && (url.StartsWith("http://") || url.StartsWith("https://")))
            {
                <link rel="stylesheet" href="@Cdn.GetUrl(url)">
            }
            else
            {
                <link rel="stylesheet" href="@url">
            }
        }
        else
        {
            <link rel="stylesheet" href="@Cdn.GetUrl($"css/{name}@v{version}/{file_name ?? "master.css"}")">
        }
    }

    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <!-- #region Primary metadata -->
    <meta name="title" content="@(Globals.Config.Meta.Title)">
    <meta name="description" content="@(Globals.Config.Meta.Description)">
    <meta name="theme-color" content="@(Globals.Config.Meta.PrimaryColor)">
    <meta name="generator" content="@Globals.AppMeta.FullName" />
    <meta name="application-name" content="@Globals.AppMeta.Name v@(Globals.AppVersionString)" />
    <meta name="author" content="Czompi Software" />
    <!-- #endregion -->
    <!-- #region Open Graph metadata -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="@(Globals.Config.SiteURL)">
    <meta property="og:title" content="@(Globals.Config.Meta.Title)">
    <meta property="og:description" content="@(Globals.Config.Meta.Description)">
    <meta property="og:image" content="@(Globals.Config.Meta.Image)">
    <!-- #endregion -->
    <!-- #region Twitter metadata -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="@(Globals.Config.SiteURL)">
    <meta property="twitter:title" content="@(Globals.Config.Meta.Title)">
    <meta property="twitter:description" content="@(Globals.Config.Meta.Description)">
    <meta property="twitter:image" content="@(Globals.Config.Meta.Image)">
    <!-- #endregion -->
    <style>
        .display-hidden {
            display: none;
        }

        #blazor-error-ui {
            background: lightyellow;
            bottom: 0;
            box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
            display: none;
            left: 0;
            padding: 0.6rem 1.25rem 0.7rem 1.25rem;
            position: fixed;
            width: 100%;
            z-index: 1000;
        }

            #blazor-error-ui .dismiss {
                cursor: pointer;
                position: absolute;
                right: 0.75rem;
                top: 0.5rem;
            }
    </style>

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="line-numbers">
    <Routes @rendermode="InteractiveServer" />
    <script src="/_framework/blazor.web.js"></script>
    <script src="@Cdn.GetUrl("js/cwate@v1.0.0/app.min.js")"></script>
    <script src="@Cdn.GetUrl("js/bootstrap@v5.1.2/bootstrap.bundle.min.js")"></script>
    <script src="@Cdn.GetUrl("js/prism@v1.29.0/prism.min.js")"></script>
</body>

</html>
