@using CWCTMA.Model.XMD
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Http.Extensions
        <header>
            <!-- #region Czompi Group products -->
            <nav class="nav nav-sticky group">
                <div class="container w-100">
                    @foreach (GroupConfigItem group in Globals.Group.Groups) {
                        @if(group.Id == Globals.Group.Current)
                        {
                        @((MarkupString)$"<div class=\"nav-item group-{group.Id}\"><span class=\"active\">{group.Name}</span></div>")
                        }
                        else
                        {
                            @((MarkupString)$"<div class=\"nav-item group-{group.Id}\"><a href=\"{group.Url}\">{group.Name}</a></div>")
                        }
                    }
                </div>
            </nav>
            <!-- #endregion -->
            @Page
            <!-- #region Navigation menu -->
            <div class="container">
                <nav class="nav menu">
                    <a href="/" class="brand">
                        <img src="@CDN.GetUrl($"img/{Globals.Config.Id}/{Globals.Config.Id}-logo.svg")">
                    </a>
                    <a class="nav-mobile" @onclick="ToggleNavMenu"></a>
                    <div class="nav-items@(NavMenuCssClass)">
                        @foreach (Metadata page in Globals.Pages.Page.Where(x => x.IsNavMenuItem == true))
                        {
                            <div class="nav-item">
                                @if (page.Id == Globals.CurrentPage)
                                {
                                    <div class="active">@(page.Title)</div>
                                }
                                else
                                {
                                    <a href="/@(page.Id)">@(page.Title)</a>
                                }
                            </div>
                        }
                    </div>
                </nav>
            </div>
            <!-- #endregion -->
        </header>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => !collapseNavMenu ? " show" : null;

    [Inject] 
    public IHttpContextAccessor HttpContextAccessor {get; set;}

    private string Page => HttpContextAccessor?.HttpContext?.Request.Path.ToString().TrimStart('/')?? "";

    void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;

    public string GetPage() => Page;

}