@using CzSoft.CwateMa.Model

        <footer>
            <div class="container">
                <div class="footer">
                    <a href="@Globals.Config.GlobalUrl" class="branding"></a>
                    <div class="buildinfo">
                        <div class="container">
                            <p class="engine-name">@Globals.AppMeta.Name @($"{System.Reflection.Assembly.GetEntryAssembly()?.GetName().Version.ToFancyString()}") Build @($"{System.Reflection.Assembly.GetEntryAssembly().GetName().Version.Revision:D4}")</p>
                            @*<p class="engine-fullname">Czompi WebAPP Common Template for Microsoft ASP.NET Version 4.0 Build ####</p>*@
                            <p class="version-id">@Globals.AppMeta.BuildId.ToString().ToUpper()</p>
                            <p class="build-date">@Globals.AppMeta.CompileTime.ToSqlTimeString()</p>
                        </div>
                    </div>
                    <div class="license">
                        <div class="container">
                            <p>This work is licensed under the <a href="https://github.com/CzompiSoftware/CwATE-MA/blob/master/LICENSE" target="_blank" rel="license" style="display:inline-block;">MIT License</a></p>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">
                        Copyright &copy; @DateTime.Now.Year <a href="@Globals.Config.CopyrightUrl">@Globals.Config.CopyrightHolder</a>. All rights reserved.
                    </div>
                </div>
            </div>
        </footer>